
/******** GENERAL ********/

*{
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
}


a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.active{
        background-color: #894be5;
        border-radius: 3px;
}

img{
    width: 100%;
}

/******** HEADER ********/

header{
    background: #894be5;
    text-align: center;
}

header .logo-container{
    padding: 20px;
}

header img{
    width: 160px;
}

/******** NAVBAR ********/

nav{
    background-color: #7537d3 ;
    padding: 10px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
}

nav li a{
    color:white;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    
}




/******** GALLERY ********/

#gallery{
    padding-top: 15px;
    padding-bottom: 15px;
}

#gallery img{
    width: 100%;
}

#gallery .item{
    width: 50%;
    float: left;
    padding: 15px;
}

/***** ABOUT *****/

#about img{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    padding: 25px 0;
}

/***** CONTATTI *******/

#contact ul{
    list-style-type: none;
    padding: 0;
}

#contact li{
    padding: 10px 0;
}

#contact .info{
    width: 50%;
    float: left;
    text-align: center;
}

#contact .contatti{
    width: 50%;
    float: right;
    text-align: center;   
    overflow: hidden;
}



/***** FOOTER *****/


footer.main{
    text-align: center;
    padding: 15px;
}

footer.main img{
    width: 30px;
}

footer.main a{
    display: inline-block;
    padding: 5px 10px;
}

footer.main p{
    font-size: 1.1rem;
}


/***** MEDIAQ *****/

@media only screen and (min-width:768px){
    #gallery .item{
        width: 33.3333%;
    }

    #gallery .item:nth-child(3n + 1){
        clear: left;
    }

/* ABOUT */

    #about img{
        padding: 25px;
    }

    #about .profile-pic{
        width: 50%;
        float: left;
        padding: 15px;
        text-align: center;
    }

    #about .descrizione{
        width: 50%;
        float: right;
        padding: 70px 15px;
    }

}

@media only screen and (min-width:992px){
    nav ul li:hover{
        background-color: #894be5;
        border-radius: 3px;
        transition: .3s;
    }
    #gallery .item{
        transition: opacity .3s;
    }
    #gallery .item:hover{
        opacity: .7;
    }
}

@media only screen and (max-width:767px){
    #gallery .item:nth-child(2n + 1){
        clear: left;
    }
}